.idea/.name
.idea/compiler.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/Sikuli-and-Robot-Framework-Integration.iml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/sikulixapi.xml
.idea/libraries/Lib.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml